.popup-add-linked {
    border-radius: 5px;
    padding: 25px 24px 25px 25px;
}
.popup-add-linked .element-table {
    margin-top: 0px;
}

.popup-add-linked .search-block {
    margin-top: 30px;
}

.table-wrapper.popuped {
    margin-top: 13px;
}

.popup-add-linked .search-block .search-big-input {
    width: -moz-calc(100% - 105px);
}
.popup-add-linked .search-block .search-submit-button {
    margin-left: 2px;
    margin-top: -1px;
    padding: 3px 3px 4px;
    width: 77px;
}
.checkboxed.element-table-data thead tr th:first-child {
    border-right: none;
    min-width: 12px;
    /*padding: 12px 8px 12px 24px;*/
    width: 12px;
}

.checkboxed.element-table-data tbody tr td:first-child {
    min-width: 12px;
    /*padding: 12px 8px 12px 26px;*/
    width: 12px;
}

.checkboxed.element-table-data tbody tr:hover, .checkboxed.element-table-data tbody tr.on-hover {
    background-color: #f6f6f6;
    cursor: pointer;
}

.checkboxed.element-table-data tbody tr.hover-blue {
    background-color: #f1faff;
    cursor: pointer;
}

.blue-element-counter {
    background: #28709e url("../img/blue-counter-right-bg.png") repeat-y top right;
    /*border: 1px solid #4d7db2;*/
    color: #FFFFFF;
    font-size: 10px;
    line-height: 1.25;
    margin-left: -91px;
    margin-top: 49px;
    padding: 4px 1px 0px 3px;
    position: absolute;
    text-align: center;
    width: 60px;
    z-index: 101;
}
.blue-element-counter span {
    font-size: 27px;
}

.popup-footer-apply-button {
    font-size: 16px;
    padding: 9px 25px;
    width: 150px;
}

.popup-footer-apply-button:active {
    border-width: 1px 2px 1px 1px;
}

.popup-footer-add-button {
    font-size: 16px;
    margin-left: 18px;
    padding: 9px 25px;
    width: 150px;
}
.popup-footer-add-button:active {
    border-width: 1px 2px 1px 1px;
}

.popup-footer-add-button .big-plus {
    display: block;
    font-size: 23px;
    font-weight: 700;
    margin-left: 0px;
    position: absolute;
    text-shadow: none;
}
.popup-footer-cancel-button {
    font-size: 16px;
    margin-left: 20px;
    padding: 9px 3px;
    width: 193px;
}
.popup-footer-cancel-button {
    border-width: 1px 2px 1px 1px;
}

.footer-popup-counter {
    color: #7E7E7E;
    font-size: 14px;
    font-style: italic;
    line-height: 23px;
    padding-bottom: 2px;
    padding-left: 37px;
}

.footer-popup-counter a {
    color: #2e83b5;
    font-size: 14px;
    font-style: italic;
    line-height: 20px;
}

.popup-add-linked .pagination {
    margin-left: 2px;
    margin-top: 46px;
}

.popup-footer {
    margin: 44px 0 3px 5px;
}
.popup-close {
    background: url("../img/sprites.png") no-repeat scroll -856px 0 transparent;
    display: block;
    float: right;
    height: 18px;
    margin: -4px;
    position: relative;
    text-indent: -99999px;
    width: 18px;
}
.detail-info-close {
    background: url("../img/sprites.png") no-repeat scroll -1103px 0 transparent;
    display: block;
    height: 8px;
    position: absolute;
    right: 10px;
    top: 8px;
    width: 9px;
}
.detail-info-ul {
    list-style: none;
}
.detail-info-li-title {
    color: #000000;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    padding-top: 16px;
}
.detail-info-li-title h3 {
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
}
.detail-info-li-param {
    color: #666666;
    font-size: 12px;
    font-weight: 400;
    line-height: 16.4px;
}
.detail-info-li-param span {
    color: #000000;
    font-size: 14px;
}
.detail-info-li-other {
    color: #000000;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    padding-top: 25px;
}
.detail-info-ul li:first-of-type {
    padding-top: 0px;
}
.detail-info-controls {
    margin-top: 20px;
    text-align: center;
    vertical-align: middle;
}
.detail-info-button-show-more {
    padding: 6px 13px;
}
.detail-info-control-check {
    margin-top: 11px;
    float: left;
}