/*
Document   :   content
Created on :   Jan 6, 2012, 4:  32:  27 PM
Author     :   Elfrey
 */
/* Middle
-----------------------------------------------------------------------------*/
#middle {
    width: 100%;
    /*padding: 0 0 93px;*/
    height: 1%;
    position: relative;
}
#header.fixed + #middle {
    margin-top: 126px;
}
#header.fixed + #middle.dashboard-middle {
    margin-top: 147px;
}
#middle:after {
    content: '.';
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
}
#container {
    float: left;
    overflow: hidden;
    padding-left: 36px;
    width: -moz-calc(100% - 80px);
}
#container.dashboard-middle {
    padding-left: 80px;
}

#content {
	/*padding: 28px 0 0 0px;*/
}

#sideLeft ~ #container {
	padding-left: 6px;
	width: -moz-calc(100% - 250px);
}

.content-title {
	font-size: 28px;
	font-weight: 700;
	letter-spacing: 0.15px;
	line-height: 34px;
	padding-left: 2px;
}

.search-block {
	margin-top: 20px;
}

.search-block .search-big-input {
	font-size: 12px;
	height: 28px;
	line-height: 28px;
	padding-left: 12px;
	width: -moz-calc(100% - 177px);
	min-width: 740px;
}

.search-block .search-big-input:-moz-placeholder {
	color: #a5a5a5;
	font-style: italic;
}

.search-block .search-submit-button {
	margin-left: 5px;
	margin-top: 0;
	padding: 4px 3px 3px;
	width: 77px;
}

.search-block .ext-search-button {
    margin-left: 3px;
    padding: 2px 15px 7px 9px;
    text-indent: -9999px;
    width: 20px;
}
.search-block .ext-search-button:before {
    background: url("../img/ext-search-icon.png") no-repeat transparent center center scroll;
    content: "";
    display: block;
    height: 16px;
    margin-top: 3px;
    position: absolute;
    width: 25px;
}
/*END .search-block
------------------------------------------------------------------------------*/

