/* 
    Document   : header
    Created on : Jan 6, 2012, 2:41:59 PM
    Author     : Elfrey
    Description:
        Purpose of the stylesheet follows.
*/

/* Header
-----------------------------------------------------------------------------*/
#header {
    background: url(../img/header-bg.png) repeat-x left top #333333 scroll;
    /*
    height: 126px;
    */
    padding: 20px 29px 12px;
    width: -moz-calc(100% - 58px);
    z-index: 12;
}
#header.document-header {
    margin-bottom: 23px;
    padding: 20px 0 12px 69px;
    width: -moz-calc(100% - 69px);
}
#header.document-header:after {
    background: url('../img/sprites.png') no-repeat -673px 0;
    content: "";
    display: block;
    height: 30px;
    margin-left: -37px;
    margin-top: -26px;
    width: 27px;
}
#header.fixed {
    margin-top: -126px;
    position: fixed;
}

#header.dashboard-header.fixed {
    height: 147px;
    margin-top: -147px;
}
#header .header-title {
    /*
    color: #FFFFFF;
    font-size: 46px;
    padding: 64px 0 0 83px;
    */
    color: #FFFFFF;
    display: inline-block;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.25;
}
#header .breadcrumb ~ .header-title{
    font-size: 37px;
    letter-spacing: -1.2px;
    padding: 80px 0 0 32px;
}


/*.quickaccess
------------------------------------------------------------------------------*/
.quickaccess {
    display: none;
    float: right;
    margin: 51px 49px 0 0;
}
#header .breadcrumb ~ .quickaccess{
    margin: 30px 30px 0 0;
}
.quickaccess .quickaccess-a {
    display: block;
    border: 1px solid #262626;
    width: 61px;
    height: 36px;
    float: left;
    text-indent: -999999px;
    text-decoration: none;
}
.quickaccess .quickaccess-feedback {
    background-image: url(../img/header-calendar-bg.png), url(../img/header-note-bg.png), url(../img/heager-help-bg.png);
    background-position: left top, left top, right top;
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: auto auto, -moz-calc(100% - 33px) 36px, auto auto;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-indent: 0px;
    padding: 0 5px 0 15px;
    width: 160px;
}
.quickaccess .quickaccess-calendar {
    background-image: url(../img/header-calendar-ico.png), url(../img/header-calendar-bg.png);
    background-position: 16px center, left top;
    background-repeat: no-repeat, no-repeat;
    background-color: transparent, transparent;			
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-indent: 0px;
}
.quickaccess .quickaccess-notification {
    background-image: url(../img/header-note-ico.png), url(../img/header-note-bg-active.png);
    background-position: 17px center, left top;
    background-repeat: no-repeat, no-repeat;
    background-color: transparent, transparent;
    border-left: none;
    text-indent: 0px;
}
.quickaccess .quickaccess-help {
    background-image: url(../img/header-help-ico.png), url(../img/heager-help-bg.png);
    background-position: 22px center, left top;
    background-repeat: no-repeat, no-repeat;
    background-color: transparent, transparent;
    border-left: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.quickaccess .quickaccess-calendar .quickaccess-calendar-date {
    color: #F1F1E3;
    display: block;
    float: left;
    font-size: 6px;
    font-weight: 700;
    margin: 11px 0 0 23px;
    opacity: 0.6;
    text-decoration: none;
}

.quickaccess .quickaccess-number {
    color: #FFFFFF;
    display: block;
    float: right;
    font-size: 14px;
    margin: 9px 15px 0 0;
}

.quickaccess .quickaccess-help-block {
    display: none;
    margin-left: -139px;
    margin-top: 33px;
    position: absolute;
}
.quickaccess .quickaccess-help-block .quickaccess-help-block-header {
    border-bottom: 23px solid #EEEEEE;
    border-left: 23px solid transparent;
    border-right: 23px solid transparent;
    float: right;
    height: 0;
    margin: 0 27px 0 0;
    width: 0;
}
.quickaccess .quickaccess-help-block .quickaccess-help-block-data {
    background-color: #eeeeee;
    border: 1px solid #fbfbfc;
    border-radius: 10px;
    box-shadow: 0px 0px 7px #bbb;
    font-size: 14px;
    line-height: 18px;
    margin: 22px 0 0;
    padding: 17px 25px 22px 18px;
    width: 300px;
}
.quickaccess .quickaccess-help-block .quickaccess-help-block-data a {
    color: #4870a5;
}
.quickaccess .quickaccess-help-block .quickaccess-help-block-data .more {
    color: #0e3a75;
    display: block;
    margin-top: 23px;
    margin-left: 17px;
}

/*END .quickaccess
------------------------------------------------------------------------------*/
.breadcrumb {
    display: none;
    margin-left: 46px;
    margin-top: 24px;
    position: absolute;
}

.breadcrumb ul li:first-child {
    background-image: url("../img/breadcrumg-first-left-bg.png"), url("../img/breadcrumg-right-bg.png");
    background-position: left top, right top, center top;
    background-repeat: no-repeat, no-repeat, repeat-x;
    background-size: 5px 36px, 11px 36px, 1px 36px;
    padding: 0 11px 0 5px;
}

.breadcrumb ul li {
    background-image: url("../img/breadcrumg-left-bg.png"), url("../img/breadcrumg-right-bg.png");
    background-position: left top, right top;
    background-repeat: no-repeat, no-repeat;
    background-size: 12px 36px, 11px 36px;
    display: block;
    float: left;
    height: 36px;
    margin-left: -11px;
    padding: 0 11px 0 12px;
}

.breadcrumb ul li div.breadcrumb-wrapper {
    background-color: transparent;
    background-image: url("../img/breadcrumg-center-bg.png");
    background-position: left top;
    background-repeat: repeat-x;
    height: 36px;
    padding: 0 25px;
}
.breadcrumb ul li:first-child div.breadcrumb-wrapper {
    padding: 0;
}

.breadcrumb ul li:first-child a.breadcrumb-a {
    background-color: transparent;
    background-image: url("../img/home.png");
    background-position: 9px 10px;
    background-repeat: no-repeat;
    display: block;
    float: left;
    height: 100%;
    padding: 0 15px;
    text-indent: -9999px;
}

.breadcrumb ul li a.breadcrumb-a {
    color: #FFFFFF;
    display: block;
    font-size: 11px;
    line-height: 36px;
    padding: 0 10px;
    text-decoration: none;
}

.breadcrumb-a {
    font-size: 13px !important;
}

.breadcrumb ul li:first-child .home-menu-opener {
    border-color: #EEEEEE transparent transparent;
    border-style: solid;
    border-width: 5px;
    cursor: pointer;
    float: left;
    margin-left: 5px;
    margin-right: 9px;
    margin-top: 17px;
}

.header-menu {
    background-color: #6A6A6A;
    border-radius: 5px 5px 5px 5px;
    display: none;
    margin-left: -5px;
    margin-top: 36px;
    padding: 5px;
    position: absolute;
    text-align: left;
    z-index: 10;
}

.header-menu a.header-menu-a {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font-size: 14px;
    line-height: 18px;
    padding: 2px 8px 8px;
    text-align: left;
    text-decoration: underline;
    white-space: nowrap;
}

.user-actions {
    color: #FFFFFF;
    display: inline-block;
    float: right;
    font-size: 14px;
    height: 100%;
    line-height: 1.25;
    margin-right: 16px;
    margin-top: -8px;
    text-align: right;
    vertical-align: middle;
}

.user-actions button {
    background: none;
    border: none;
    color: #b0b0b0;
    display: inline-block;
    font-size: 14px;
    line-height: 1.25;
    text-align: right;
    text-decoration: underline;
}

#element-top-panel {
    background: url(../img/top-panel-bg.png) #445167 repeat-x 0 0;
    height: 24px;
    left: 0;
    padding-left: 16px;
    position: fixed;
    top: 0;
    width: -moz-calc(100% - 16px);
    z-index: 50;
}
#element-top-panel.element-top-panel-bordered {
    border-top: 4px solid #F6E300;
}
#element-top-panel .element-top-panel-inner {
    display: table-cell;
    height: 24px;
    vertical-align: middle;
}
#element-top-panel a {
    color: #ffffff;
    cursor: default;
    display: inline-block;
    font-size: 12px;
    line-height: 16px;
    padding: 0 8px;
    text-decoration: none;
}
#element-top-panel a.inactive {
    color: #95AAC7;
    cursor: pointer;
}
#element-top-panel a.inactive:hover {
    color: #3B465A;
    background-color: #ffffff;
    border-radius: 10px;
}
#element-top-panel span {
    display: inline-block;
}

#element-top-panel span.read-edit-switch {
    background-color: #2A3239;
    border-radius: 10px;
    height: 10px;
    vertical-align: middle;
    width: 25px;
}
#element-top-panel span.read-edit-switch:before {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 10px 10px 10px 10px;
    content: "";
    display: block;
    float: left;
    height: 10px;
    width: 10px;
}

#element-top-panel span.read-edit-switch.edit:before {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 10px 10px 10px 10px;
    content: "";
    display: block;
    float: right;
    height: 10px;
    width: 10px;
}

#element-top-panel .already-opened {
    color: #FFFFFF;
    display: none;
    font-size: 12px;
    line-height: 1.25;
    margin-left: 20px;
}
#element-top-panel .already-opened .opener {
    margin-left: 5px;
    padding-left: 15px;
}
#element-top-panel .already-opened .opener:before {
    background: url("../img/sprites.png") no-repeat scroll -1415px 0 transparent;
    content: "";
    display: inline-block;
    height: 12px;
    margin-left: -15px;
    position: absolute;
    width: 11px;
}
#element-top-panel .edit-button-disabled {
    color: #65768F;
    font-size: 12px;
}

#element-top-panel+#header {
    margin-top: 24px;
}

#element-top-panel.element-top-panel-bordered+#header {
    margin-top: 28px;
}